/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Reset */

/* Common */

.container {
    display: flex;
}

.flex {
    display: flex;
}

.justify-content-spacebetween {
    display: flex;
    justify-content: space-between;
}

.justify-content-spacearound {
    display: flex;
    justify-content: space-around;
}

.img {
    height: 50px;
    width: 50px;
}

/* Common */

/* Sidebar */

.sidebar {
    width: 25%;
    height: 80vh;
    background-color: lightgray;
    padding: 20px;
}

.container_profile {
    height: 3.75rem;
    background-color: aqua;
}

.container_img_notification {
    background-color: bisque;
    height: 2.5rem;
}

.container_input {
    background-color: aqua;
    height: 2.5rem;
}

.container_contacts {
    background-color: blueviolet;
    height: calc(100% - 8.75rem);
}

/* Sidebar */

/* Main right */

.main-content {
    width: 75%;
    height: 80vh;
    padding: 20px;
    background-color: bisque;
}

.main_header {
    height: 3.75rem;
    background-color: cornflowerblue;
}

.container_main_msg {
    background-color: darkcyan;
    height: calc(100% - 100px);
}

.footer {
    background-color: gainsboro;
    height: 3.75rem;
}

/* Main right */